
@media (max-width: 460px) { 
  .top-card-container,
  .feature-card-container ,  .latest-card-slider{
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
  
  }

  .feature-container{
    margin-top: -1rem;
  }
  .feature-card-container {
    gap: 4rem;
  }

  .heading-div h4,
  .feat-txt h4 {
    font-size: 15px;
  }
  .heading-div p,
  .feat-txt p {
    font-size: 10px;
  }
  .h-btn button,
  .feat-btn button {
    font-size: 7px;
    font-weight: bold;
  }
  .top-heading,
  .feature-heading {
    width: 100%;
  }
  .top-container,
  .feature-container,
  .lp-ads-container,.counting-container,.grow-skill-temp,.word-p-container,
  .feed-back-container,.let-start-container
   .latest-container, .footer-container, .copy-right-container{
    width: 90%;
  }
  .ft-card,.latest-card {
    display: inline-block;
    scroll-snap-align: start;
    flex: 0 0 97%;
   
  }
  
  .word-btn div button{
    font-size: 7px;
    margin-top: -1rem;
  }

  .fb-heading{
    width: 100%;
    font-size: 11px;
  }
  .fb-heading h3{
    font-size: 15px;
  }

  .students-fb{
    gap: 1rem;
  }
  .st-fb-box{
    padding: 7px; 
  }
  .grow-skill-temp {
  display: block;
  align-items: center;
  text-align: center;
}

.temp-img, .temp-txt{
  width: 100%;
 
}

  .footer-container{
    height: 35rem;
    display:block;
    text-align: center;
    overflow-x: none;
  }

  .program-box,.edu-box,.help-box,.program-box,.contact-box{
    width: 100%;
  }

}

@media (min-width: 360px) {
  .top-card-container,
  .feature-card-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    gap: 1rem;
  }

  .top-heading,
  .feature-heading {
    width: 100%;
  }
  .top-container,
  .feature-container,
  .lp-ads-container,.counting-container ,.grow-skill-temp,.word-p-container,
  .feed-back-container, .let-start-container, 
  .latest-container,.footer-container, .copy-right-container{
    width: 90%;
  }
  
}

@media (max-width: 500px) {
  nav,
  .reg,
  .slash {
    display: none;
  }
}



@media (max-width: 540px) {
 
  .footer-container{
    gap: 2rem;
    
   }
 
   .footer-container h5{
     font-size: 0.5rem;
   }
  nav {
    display: none;
  }

  .list-icon {
    display: contents;
  }

  .hero-txt {
    width: 7rem;
    margin-top: -9rem;
    padding: 5px;
    position: unset;
  }

  .hero-txt-btn {
    padding: 5px;
    width: 4rem;
    border-radius: 25px;
    border: 1px solid #ff782d;
    font-size: 7px;
  }

  .hero-txt h1 {
    font-size: 10px;
  }
  .hero-txt p {
    font-size: 8px;
  }

  .card {
    width: 12rem;
    height: 7.5rem;
  }
  .feature-container{
    margin-top: -0.5rem;
  }
}

@media (max-width: 768px) {
  nav a,
  .search-container a {
    font-size: 10px;
    font-weight: bold;
  }

  .search-container {
    width: 7.5rem;
    display: flex;
    justify-content: space-around;
  }
  .search-container img {
    width: 20px;
    height: 20px;
  }

  .hero-txt {
    width: 9rem;
    margin-top: -10rem;
    padding: 5px;
    position: unset;
    margin-left: 1.5rem;
  }
  .top-card-container,
  .feature-card-container {
    gap: 1rem;
  }

  .lp-ads-container {
    height: 7.2rem;
  }
  .lp-ads-container img {
    height: 7rem;
  }

  .lp-txt-box {
    height: 6rem;
    width: 11rem;
    top: -90%;
    left: 4%;
  }

  .lp-txt-div p {
    font-size: 7px;
  }

  .lp-txt-div h4 {
    font-size: 12px;
    margin-top: -0.8rem;
  }

  .lp-btn-div p {
    font-size: 8px;
    margin-top: -1.2rem;
  }

  .lp-btn-div button {
    border-radius: 20px;
    font-size: 7px;
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
  }

  .counting-container{
    gap: 1rem;
  }
 

  .temp-img img{
    width: 95%;
    height: 17rem;
  }
  .temp-txt{
    height: 15rem;
  }
  .temp-txt h2{
    font-size: 17px;
  }
.temp-txt p{
  font-size: 10px;
  font-weight: 550;
}

.temp-btn{
 
  font-size: 9px;
  width: 5rem;
  margin-top: 1rem;
  height: 1.7rem;
  
}
.fb-heading{
  width: 100%;
}
.fb-heading h3{
  font-size: 18px;
}
.fb-heading p{
  font-size: 11px;
}

.students-fb{
  gap: 1rem;
}
.st-name p{
  font-size: 11.5px;
}

.st-fb-box{
  padding: 7px; 
}
.let-start-container , .let-start-container img{
  height: 7rem;
}

.latest-txt-box img{
  height:1rem;
  width: 5rem;
}

.latest-txt-box h5{
  font-size: 9px;
}

.latest-txt-box p{
  color: #555555;
  font-size: 8px;
  margin-top: 0.1rem;
  font-weight: bold;
}



} 

@media  (min-width:977px) and (max-width:2169px){
  .latest-card{
    width: 23rem;
   
  }

  .latest-card-slider{
    display: flex;
    justify-content: space-between;
    gap:-11rem;
    align-items: center;
  }


  .ft-card {
    height: 18rem;
    width: 23rem;
  }

}

@media  (min-width:1921px) and (max-width:2169px){
  .m-hero {
    height: 33rem;
  }

  .hero-txt {
    bottom: 65%;
  }
}
@media (min-width: 1280px) {
  /* .top-card-container,
  .feature-card-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    gap: 2rem;
  } */
  .top-container,
  .feature-container,
  .lp-ads-container, .counting-container,.grow-skill-temp,
  .word-p-container, .feed-back-container, .let-start-container,
   .latest-container, .footer-container, .copy-right-container{
    width: 50%;
  }

 
  
 
}
@media (max-width: 1280px){
.counting-container{
  gap: 1rem;
}
.word-span {
  position: relative;
  top: -95%;
  left:-1%;
}

.word-div {
  width: 80%;
  margin-top: -8rem;
  margin-left: 10%
}
.word-btn button {
  font-size: 10px;
 
}
.word-p-container img {
  height: 7rem;
}

.word-p p{
  margin-top: 1rem;
  font-size: 6px;
}
.word-p h3 {
  font-size: 12px;
  margin-top: 1rem;
}
.word-btn p {
  font-size: 7px;
  color: #555555;
  width: 80%;
  margin-left: 25% ;
  margin-top: -1rem;
}

.feed-back-container{
  margin-top: 2rem;
}

.let-start-container , .let-start-container img{
  height: 7rem;
  margin-top: 0.5rem;
}
.copy-right-container{
  font-size: 10px;
}
}



@media (max-width: 1920px) {
  .hero img {
    height: 11rem;
  }

  .hero-txt {
    width: 9rem;
    margin-top: -10rem;
    padding: 5px;
    position: unset;
  }

  .hero-txt-btn {
    padding: 5px;
    width: 4rem;
    border-radius: 25px;
    border: 1px solid #ff782d;
    font-size: 7px;
  }

  .hero-txt h1 {
    font-size: 10px;
  }
  .hero-txt p {
    font-size: 8px;
  }

  .students-fb{
    gap: 1rem;
  }
}
