@media (max-width: 500px) {
  nav,
  .reg,
  .slash {
    display: none;
  }
}

@media (max-width: 360px) {
  .top-card-container,
  .feature-card-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 3rem;
  }

  .feature-card-container {
    gap: 4rem;
  }

  .heading-div h4,
  .feat-txt h4 {
    font-size: 15px;
  }
  .heading-div p,
  .feat-txt p {
    font-size: 10px;
  }
  .h-btn button,
  .feat-btn button {
    font-size: 7px;
    font-weight: bold;
  }
  .top-heading,
  .feature-heading {
    width: 100%;
  }
  .top-container,
  .feature-container,
  .lp-ads-container,.counting-container,.grow-skill-temp{
    width: 90%;
  }
  .ft-card {
    width: 20rem;
  }
}

@media (min-width: 360px) {
  .top-card-container,
  .feature-card-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    gap: 1rem;
  }

  .top-heading,
  .feature-heading {
    width: 100%;
  }
  .top-container,
  .feature-container,
  .lp-ads-container,.counting-container ,.grow-skill-temp{
    width: 90%;
  }
}

@media (max-width: 540px) {
  nav {
    display: none;
  }

  .list-icon {
    display: contents;
  }

  .hero-txt {
    width: 7rem;
    margin-top: -9rem;
    padding: 5px;
    position: unset;
  }

  .hero-txt-btn {
    padding: 5px;
    width: 4rem;
    border-radius: 25px;
    border: 1px solid #ff782d;
    font-size: 7px;
  }

  .hero-txt h1 {
    font-size: 10px;
  }
  .hero-txt p {
    font-size: 8px;
  }

  .card {
    width: 12rem;
    height: 7.5rem;
  }
}

@media (max-width: 768px) {
  nav a,
  .search-container a {
    font-size: 10px;
    font-weight: bold;
  }

  .search-container {
    width: 7.5rem;
    display: flex;
    justify-content: space-around;
  }
  .search-container img {
    width: 20px;
    height: 20px;
  }

  .hero-txt {
    width: 9rem;
    margin-top: -10rem;
    padding: 5px;
    position: unset;
    margin-left: 1.5rem;
  }
  .top-card-container,
  .feature-card-container {
    gap: 1rem;
  }
  .feature-container {
    margin-top: -1rem;
  }

  .lp-ads-container {
    height: 7.2rem;
  }
  .lp-ads-container img {
    height: 7rem;
  }

  .lp-txt-box {
    height: 6rem;
    width: 11rem;
    top: -90%;
    left: 4%;
  }

  .lp-txt-div p {
    font-size: 7px;
  }

  .lp-txt-div h4 {
    font-size: 12px;
    margin-top: -0.8rem;
  }

  .lp-btn-div p {
    font-size: 8px;
    margin-top: -1.2rem;
  }

  .lp-btn-div button {
    border-radius: 20px;
    font-size: 7px;
    margin-top: 1rem;
    width: 5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
  }

  .counting-container{
    gap: 1rem;
  }

  .grow-skill-temp{
    height: 17rem;
  }
  .temp-img{
    width: 50%;
    height: 17rem;
  }

  .temp-img img{
    width: 95%;
    height: 17rem;
  }
  .temp-txt{
    height: 15rem;
  }
  .temp-txt h2{
    font-size: 10px;
  }
.temp-txt p{
  font-size: 7px;
  font-weight: 550;
}

.temp-btn{
 
  font-size: 9px;
  width: 5rem;
  margin-top: 1rem;
  height: 2rem;
  
}


}

@media (min-width: 1280px) {
  .top-card-container,
  .feature-card-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    width: 100%;
    gap: 2rem;
  }
  .top-container,
  .feature-container,
  .lp-ads-container, .counting-container,.grow-skill-temp {
    width: 50%;
  }

 
}
@media (max-width: 1280px){
.counting-container{
  gap: 1rem;
}
}

@media (max-width: 2800px) {
  .hero img {
    height: 11rem;
  }

  .hero-txt {
    width: 9rem;
    margin-top: -10rem;
    padding: 5px;
    position: unset;
  }

  .hero-txt-btn {
    padding: 5px;
    width: 4rem;
    border-radius: 25px;
    border: 1px solid #ff782d;
    font-size: 7px;
  }

  .hero-txt h1 {
    font-size: 10px;
  }
  .hero-txt p {
    font-size: 8px;
  }
}
